@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/robotocondensed-regulard41d.eot');
	src: url('../fonts/roboto/robotocondensed-regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/robotocondensed-regular.woff') format('woff'), url('../fonts/roboto/robotocondensed-regular.ttf') format('truetype'), url('../fonts/roboto/roboto.svg#roboto') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'roboto';
}

.container-full {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

/***** Navbar Styles *****/
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-toggle {
	background-color: blue;
}

.icon-bar {
    background: #FFF none repeat scroll 0% 0%;
}
.navbar-collapse.in {
    /*overflow-y: auto;*/
}
.navbar-collapse {
    /*padding-left: 0px;*/
    /*background: #222 none repeat scroll 0% 0%;*/
    /*position: absolute;
    width: 100%;*/
}
.navbar-collapse {
    /*padding-right: 0px;*/
}
.navbar-collapse {
   /* max-height: 340px;
    overflow-x: visible;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;*/
}

/****** Jumbotron Styles *****/
.jumbotron {
    margin-bottom: 0px;
    padding: 15em 0;
    height: auto;
    background: transparent url(../imgs/hero.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
    opacity: 0.9;
}

.search-box {
	background-color: #333;
	padding-bottom: 30px;
}

.search-box h3 {
	color:#FFFFFF;
	text-align: center;
}

.search-box .form-control {
	height: 54px;
	border-radius: 0;
	box-shadow: none;
}

.search-box .btn {
	padding: 12px 30px;
	border-radius: 0;
	font-size: 19px;
}

/******** Feature One ******/
.feature {
	/*padding: 95px 0;*/
	background-image: url('../imgs/feature-bg.jpg');
	background-size: cover;
	color: #FFFFFF;
}

.feature p {
	font-size: 18px;
}

.feature .image {
	text-align: right;
}

.feature .overlay {
	padding: 35px 0;
	background: #11538C;
	opacity: 0.9;
}

/***** Feature Two *******/
.feature2 {
	/*padding: 95px 0;*/
	background-image: url('../imgs/feature-bg.jpg');
	background-size: cover;
	color: #333333;
}

.feature2 p {
	font-size: 18px;
}

.feature2 .image {
	/*text-align: right;*/
}

.feature2 .overlay {
	padding: 35px 0;
	background: #FFFFFF;
	opacity: 0.8;
}

/****** Media Queries *******/

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.jumbotron {
		padding: 10em 0;
	}

	.jumbotron h3{
		font-size: 48px;
		color: indigo;
	}

	.jumbotron p {
		font-size: 30px;
	}
}

.course {
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	padding: 5px;
}

.course-spacer {
	padding-bottom: 30px;
}

.course h4 {
	text-align: center;
}

.course p {
	text-align: justify;
	padding: 2px;
}

.course img {
	width: 100%;
}

.course h5 {
	text-align: right;
	font-weight: bold;
}

/**** Stats Section ****/
.stats {
	padding-bottom: 18px;
	background: #11538C;
}

.stats h1 {
	font-weight: bold;
	text-align: center;
	background-color: #FFFFFF;
}

.stats h3 {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.stats .circle {
	margin: 0 auto;
	border-radius: 50%;
	width: 120px;
    height: 120px;
    padding: 40px 0;
    color: #11538C;
}
/******* Testimonials *******/
.testimonials {
	
}

.testimonials .testimonies-item {
	padding:  0 7px;
}

.testimonials h3 {
	/*text-align: center;*/
}

.testimonials p {
	font-size: 13px;
	text-align: justify;
}

.testimonials img {
	/*position: absolute;*/
	width: 98px;
}

/***** Footer ******/
.footer {
	height: 150px;
	margin-top: 200px;
	background-color: #11538C;
}

.footer a {
	color: #FFFFFF;
	text-decoration: none;
}

.footer a:hover {
	color: #DDDDDD;
}

.footer p {
	color: #FFFFFF;
	font-size: 13px;
}

.footer h5 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer ul li {
	list-style: none;
	color: #FFFFFF;
}

.footer .newsletter {
	padding-left: 0;
}

.footer .newsletter .form-control, .btn {
	border-radius: 0;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.jumbotron {
		padding: 9em 0;
	}

	.jumbotron h3{
		font-size: 32px;
		color: brown;
	}

	.jumbotron p {
		font-size: 20px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.jumbotron {
		padding: 4em 0;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px) {
	.jumbotron {
		padding: 4em 0;
	}

	.jumbotron p {
		margin-bottom: 5px;
		color: orange;
		font-size: 18px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.jumbotron {
			padding: 4em 0;
		}

		.jumbotron h3 {
			font-size: 12px;
			color: red;
		}

		.jumbotron p {
			font-size: 12px;
			color: red;
		}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .jumbotron {
		padding: 4em 0;
	}

	.jumbotron p {
		margin-bottom: 0;
		color: orange;
	}
}